.addplayer-form {

  width: 40%;
  margin-left: 30%;
  margin-top: 3%;
  color:white;
  overflow-scrolling: auto;
}

.addplayer-form fieldset
{
  background-color: lightgreen;
  border:2px solid #28a745;
  color:white;
}


.mat-form-field
{
  width:90%;
  margin-left: 5%;
}

.label
{
  font-weight: bold;
  font-size: x-large;
  margin-left: 33%;
}

.mat-fab
{
  background-color: #28a745;
  width:30%;
  margin-left: 33%;
}
