section
{
    width:80%;
    margin:8%;
    margin-top:0%;

}

header
{
   height:150px;

}

#fleft img
{
  width:150px;
  height:150px
}
#fright img
{
    width:150px;
    height:150px
}
.header-menu {

    background-color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    font-size: calc(10px + 2vmin);
    color: white;
}

.multicolortext {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;

    color: transparent;
    font-family: "Lucida Calligraphy"
}

footer
{
    position: fixed;
    margin-top: 20%;
    width:80%;
    height:100px;
    border:2px solid red;
}


