section
{
    width:80%;
    margin:8%;
    margin-top:0%;

}

header
{
   height:150px;

}

#fleft img
{
  width:150px;
  height:150px
}
#fright img
{
    width:150px;
    height:150px
}
.header-menu {

    background-color:black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    font-size: calc(10px + 2vmin);
    color: white;
}

.multicolortext {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;

    color: transparent;
    font-family: "Lucida Calligraphy"
}

footer
{
    position: fixed;
    margin-top: 20%;
    width:80%;
    height:100px;
    border:2px solid red;
}


.content-menu {

    width:100%;

}
.content-menu aside
{
    margin-top: 5%;
    width:30%;
    float: left;
}
.content-menu  aside button
{
    display: block;
   font-size: x-large;
    background-color: dodgerblue;
    color: orange;
    margin-bottom: 3%;
    width:180px;
}

.content-menu nav
{
    width:90%;
    margin-left: 10%;
}
.content-menu  nav ul
{


}
nav ul li
{
    display: inline;
    list-style: none;
    margin-right: 3%;
    font-size: x-large;
    box-shadow: 2px 2px 2px 2px dodgerblue;
    color:orange;
}
nav ul li a
{

    text-decoration: none;

}
