#main
{
	margin:10%;
}
.layout-row {
    
    background-color:black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    font-size: calc(10px + 2vmin);
    color: white;
}
.button
{
	color:white;
	background-color: green;
	padding: 25px;
	
}
#passage
{
	display:inline-block;
	background-color: yellow;
	border: 2px solid blue;
	padding: 35px;

}